*
	-webkit-box-sizing border-box
	-moz-box-sizing    border-box
	-ms-box-sizing     border-box
	-o-box-sizing      border-box
	box-sizing         border-box

	outline none !important

body
	font-family 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif
	color #4b4b4b
	margin 0
	overflow-y scroll

header
	position absolute
	top 0
	left 0
	width 100%
	height 50px
	line-height 50px
	background #eee
	color #000

	&.navbar
		margin-bottom 0

	.container
		padding 0

	ul
		list-style none
		padding 0
		margin 0
		position absolute
		top 0
		right 0

		li
			display inline-block
			color #000
			text-decoration none
			padding 0 1.5em
			cursor pointer

			&:hover
				background #ddd

			&.active
				background #fff

			


.container
	max-width 960px
	margin 0 auto
	position relative

table
	cursor default

textarea.csv
	height 230px

.main

	.list
		margin-bottom 200px

		.delete
			color #e74c3c
			background none
			border none

		.button
			opacity 0

		li:hover .button
			opacity 1

	.add
		position relative

		.row
			margin 1em 0

		label
			display block
			font-weight bold
			font-size 0.9em

		input[type=text],
		input[type=number],
		textarea
			padding 0.5em 1em
			width 100%
			font-size 1em

		textarea
			resize none
			height 100px
			font-family inherit
			font-size 1em

		.submit
			position absolute
			top 0
			right 0

			.fa
				padding-right 1em

	.filter_box
		position absolute
		top 0.5em
		right 0

		button.open
			background #333
			color #fff
			border-color #333

			&~.filter
				display block

		.filter
			margin-bottom 2em
			position absolute
			top 36px
			right 0
			width 300px
			background #333
			color #fff
			padding 1em
			border-radius 3px
			display none
			z-index 10

	.heading
		font-size 2.5em

	.total
		font-size 1.8em

		.money
			color #2ecc71
	
	.message
		color #fff
		padding 0.5em 1em
		border-radius 3px
		margin 1em 0
		cursor pointer
		display none

		.fa
			padding-right 1em

		&.show
			display block

		&.error
			background tomato

		&.success
			background #2ecc71


	.search
		margin-bottom 50px
		.input-group-addon.hover:hover
			background tomato
			border 1px solid #ff4444
			color #fff
			cursor pointer

body.sticky
	.banner
		padding-top 84px

	.search
		background #222
		padding 1em
		width 100%
		position fixed
		top 0
		left 0
		z-index 99


.banner
	background #333
	color #fff
	padding 2em 0
	margin 0 0 3em

	svg
		text
			fill #fff !important

.table-mimic
	list-style none
	cursor default
	margin 0
	padding 0

	.cell
		display inline-block
		padding 8px

	li
		border-bottom 1px solid #ddd

		&.header
			font-weight bold

		span
			&.category
				width 18%
			&.description
				width 40%
			&.price
				width 8%
			&.date
				width 20%

	&.dark
		li
			border-color #555
			&:hover
				background-color #222

	&.light
		li
			border-color #ddd
			&:hover
				background-color #f5f5f5


@media (max-width: 992px)
	
	.table-mimic.list .header
		display none

	.table-mimic li
		position relative
		padding 1em 0
	
		.cell
			padding 0

			&.description
				display none

			&.category,
			&.price,
			&.date
				width 100%

			&.category
				font-size 1.5em
				font-weight 700

			&.buttons
				position absolute
				top 0.5em
				right 0

				.button
					opacity 1




.animate.ng-enter,
.animate.ng-leave
	-webkit-transition 0.1s ease-out all
	-moz-transition    0.1s ease-out all
	-ms-transition     0.1s ease-out all
	-o-transition      0.1s ease-out all
	transition         0.1s ease-out all
	position relative
	display block

 
.animate.ng-enter.ng-enter-active, 
.animate.ng-leave
	opacity 1
	top 0
	height 30px

 
.animate.ng-leave.ng-leave-active,
.animate.ng-enter
	opacity 0
	top -50px
	height 0px
